@model ClientPortal.Models.tblIssue

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>tblIssue</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.issueTitle)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.issueTitle)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.issueDescription)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.issueDescription)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.solutionComponentID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.solutionComponentID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EstimateMinutes)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EstimateMinutes)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.OwnerID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OwnerID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CreatedByID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CreatedByID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CreatedDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CreatedDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ModifiedByID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ModifiedByID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ModifiedDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ModifiedDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.issueResolutionID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.issueResolutionID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RaisedByID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RaisedByID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IsPublic)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IsPublic)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IsCritical)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IsCritical)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IssueURL)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IssueURL)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.pageUrl)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.pageUrl)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.browserWidth)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.browserWidth)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.browserHeight)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.browserHeight)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.userAgent)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.userAgent)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LastActivityDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LastActivityDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.solutionId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.solutionId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.tblIssueType.typeTitle)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tblIssueType.typeTitle)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.tblIssueCategory.categoryTitle)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tblIssueCategory.categoryTitle)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.tblIssuePriority.priorityTitle)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tblIssuePriority.priorityTitle)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.tblIssueStatu.statusTitle)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tblIssueStatu.statusTitle)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
