
@model ClientPortal.ViewModels.IssueListViewModel
@{
    ViewBag.Title = "Index";
}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="~/Scripts/jquery-3.4.1.min.js"></script>
<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script src="https://code.jquery.com/jquery-migrate-1.4.1.min.js"></script>
<script src="~/Scripts/bootstrap.min.js"></script>

<body>
    <style>
        table, td, th {
            border: 1px solid #ddd;
            text-align: left;
        }

        table {
            border-collapse: collapse;
            width: 100%;
        }

        th, td {
            padding: 15px;
        }
        .conatiner{
            
        }       
    </style>
    <nav>

    </nav>
    <div class="tab">
        <h2>@Model.Solutions.solutionTitle:Issue Lists </h2>
    </div>
    <br />


    <div class="alert alert-info" runat="server" id="alertClientReview">
        <strong>Project in Client Review: </strong>When you have reviewed your site, and added/updated all issues , @Html.ActionLink("Click Here", "reviewComplete", "Issues", null)
    </div>
    <div class="alert  alert-success" runat="server" id="alertUnderConstruction">
        <strong>Project under Construction: </strong>We are working on the site so it will appear strangely.  Do not add any bugs during this phase.
        <Button ID="btnPushToClient" runat="server" visible='false'>PUSH BACK TO CLIENT</Button>
    </div>

    @if (@Model.clientIssues.Count() != 0)
    {
        <div id="divissueClient">

            <table class="table" id="idTable">
                <br />
                <tr>
                    <th>

                        ID
                    </th>
                    <th>
                        Title
                    </th>

                    <th>
                        Type
                    </th>

                    <th>
                        Status
                    </th>

                </tr>
                <br />
                @foreach (var item in Model.clientIssues)
                {
                    <tr>
                        <div class="issue-link">
                            <td>
                                @Html.ActionLink(item.issueID.ToString(), "Details", "Issues", new { id = item.issueID }, null)

                            </td>
                            <td>
                                @Html.ActionLink(item.issueTitle.ToString(), "Details", "Issues", new { id = item.issueID }, null)

                            </td>
                        </div>

                        <td>
                            @Model.Types.Where(type => type.typeID == item.issueTypeID).FirstOrDefault().typeTitle
                        </td>
                        <td>
                            @Model.Statuses.Where(s => s.statusID == item.issueStatusID).FirstOrDefault().ClientTitle
                        </td>

                    </tr>
                }

            </table>

        </div>
    }
    else
    {
        <apan>No Issues for Client</apan>
    }

    <div class="tab">
        <h2>Search Issues</h2>
        <div class="container">

            <div class="col-sm-8">

                <div class="col-sm-4">
                    @Html.DropDownListFor(x => Model.SelectedComponents, new SelectList(Model.Components, "componentID", "componentTitle", ""), "--select the Page--", htmlAttributes: new { @class ="form-control", id = "componentID" })
                </div>
                <div class="col-sm-4">
                    <input type="checkbox" id="cbConfirm" />Include Closed
                </div>
            </div>

            <div class="col-sm-4">
                <button id="btnSearch">Search</button>
            </div>
        </div>

    </div>
    <div id="divList">

    </div>

    <br />


    <script>

        $(document).ready(function () {
            manageClientArea();
            function manageClientArea() {

            $("#alertClientReview").hide();
            $("#alertUnderConstruction").hide();
            $("#btnPushToClient").hide();
            var statusid =@Model.Solutions.statusId;
                var companyId =@Model.Solutions.clientID;
                if (companyId == 1) {
                    if (statusid == 1) {
                        $("#alertClientReview").show();
                        $("#alertUnderConstruction").hide();
                    }
                    if (statusid == 2) {
                        $("#alertUnderConstruction").show();
                        $("#alertClientReview").hide();
                        if (companyId == 1) {
                            $("#btnPushToClient").show();
                        }
                    }
                }

            }


            $("#btnPushToClient").click(function () {

                    $.ajax({
                        type: "Post",
                        url: "/Issues/statusChangePushToClient/?solutionID="+@Model.Solutions.solutionID,
                        success: function (response) {
                            $("#alertClientReview").show();
                            $("#alertUnderConstruction").hide();

                        }
                    });

            });
            $("#btnSearch").click(function () {
                var checkBox = document.getElementById("cbConfirm").checked;
                console.log(checkBox);
                var componentID = $('#componentID').val();
                if (!componentID) {
                    componentID = 0;
                }
                $.ajax({
                    type: "Post",
                    url: "/Issues/filterStatus/?componentID=" + componentID + "&solutionID=" +@Model.Solutions.solutionID+"&checkbox=" + checkBox,
                    success: function (response) {
                            $("#divList").html(response);
                        }


                    });
            });

         });

    </script>
    <br />
</body>